.gallery-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:2px;
    cursor: pointer;
}
.tabla-contenido{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    border-right: 1px solid #0101012a;
    border-left: 1px solid #0101012a;
    height: min-content;
    width: 13%;
    padding: 13px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.tabla-contenido-tamaño{
    padding: 13px;
    width: 100%;
}
.tabla-contenido-categorias{
    width: 100%;
    background-color: #74C0FC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 13px 13px 13px 13px;
}
.categoria{
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.categoria:hover{
    background-color: #74c1fc7a;
}
.container-buscar{
    display: flex;
    width: 82%;
    justify-content: right;
}
.main-buscador{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.buscar{
    width: 15%;
    height: 28px;
    border: 1px solid;
    border-radius: 20px;
    padding-left: 10px;
}
.centrar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.borde{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.borde:hover{
    transform: scale(1.05);
    z-index: 0;
}
.container-titulo h2{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
    width: 90%;
    margin: auto;
    justify-self: center;
    margin-bottom: 3px;
}
.container-titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borde h4{
    font-weight: 600;
    font-size: 14px;
    color: gray;
    margin-top: 5px;
}
.borde div{
    gap: 20px;
    color: #010101;
    font-weight: 600;
}
.contenedor-imagen-libros img{
    height: 250px;
    width: 160px;
}
.contenedor-imagen-libros{
    width: 230px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    margin-bottom: 10px;
}
