.main-registro-libro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.formulario-registro-libro{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    -webkit-box-shadow: 0px 0px 42px 4px rgba(116,192,252,0.41);
    -moz-box-shadow: 0px 0px 42px 4px rgba(116,192,252,0.41);
    box-shadow: 0px 0px 42px 4px rgba(116,192,252,0.41);
}
.contenedor-blanco{
    width: 98%;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: rgb(91, 77, 77); */
}
.alerta-registro{
    color: red;
}
.formulario-registro-libro input{
    width: 90%;
    height: 25px;
    margin-bottom: 20px;
    border: 1px solid #49484830;
    border-radius: 9px;
    align-self: center;
    font-size: 16px;
    padding-left: 10px;
}
input:focus{
    border: 1px solid #74C0FC;
    background-color: rgb(213, 233, 252);
}
.formulario-registro-libro label{
    padding-bottom: 10px;
    width: 90%;
    align-self: center;
    font-size: 18px;
}
.boton-registro{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.boton-registro button{
    height: 100%;
    width: 90%;
    border-radius: 8px;
    background-color: #74C0FC;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}
.main-registro-cuadro-libro{
    height: 50px;
    width: 100%;
    background-color: #74C0FC;
    margin-bottom: 10px;
    display: flex;
    align-items: start;
}
.main-registro-cuadro-libro p{
    margin: auto;
    color: #ffffff;
}
.formulario-registro-contenido-libro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.rol-contenido-registro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.rol-registro{
    width: 91.5%;
    border: 1px solid #49484830;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 8px;
}
.nombres{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 91%;
}
.nombres-texto{
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: space-between;
}
.nombres-texto label{
    display: flex;
    justify-content: start;
    width: 44%;
}
.nombres input{
    width: 44%;
    height: 30px;
    margin-bottom: 40px;
    border: 1px solid #49484830;
    border-radius: 9px;
    align-self: center;
    font-size: 16px;
    padding-left: 10px;
}
.contraseña{
    position: relative;
    display: flex;
    align-self: center;
    width: 91%;
}
.contraseña input{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ojo{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-150%);
    background: none;
    width: fit-content;
    cursor: pointer;
}
.descripcion-libro{
    height: 100px;
    width: 100%;
    align-self: center;
    resize: none;
    border: 1px solid #49484830;
    border-radius: 9px;
    font-size: 15px;
    margin: 0;
    padding: 8px;
}
.descripcion-texto-libro{
    width: 92%;
    margin: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editorial{
    margin-top: 20px;
}
.etiqueta {
    color: gray;
    display: flex;
    justify-content: end;
}
.etiqueta-main{
    width: 92%;
    margin: 0 auto;
}
.archivo-libro{
    border: none;
}
.imagen-libro{
    border: none;
}